services:
  - type: web
    name: api-smoothie
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile
    healthCheckPath: /health/ready
    autoDeploy: false
    envVars:
      - key: NODE_ENV
        value: production
      - key: CORS_ORIGIN
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: REDIS_URL
        sync: false
      - key: JWT_ACCESS_SECRET
        sync: false
      - key: JWT_REFRESH_SECRET
        sync: false
      - key: JWT_ACCESS_EXPIRES_IN
        sync: false
      - key: JWT_REFRESH_EXPIRES_IN
        sync: false
